/* css styles */
#title-block-header {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -1px;

}

.quarto-title-banner {
  margin-block-end: 1rem;
  position: relative;
  margin-top: -30px;
  
  height: 100%;
}

.quarto-title-meta column-page{
  margin-block-end: 1rem;
  position: relative;
  margin-top: -30px;

}


.g-col-12-header{
  padding: 0.5em 1em;
  background:#3498db; 
  color:#fff; 
  font-size: 1.25em;
  opacity: 0.7; 
}
.g-col-12-header p{
  margin: unset;
}

.g-col-12-sub{
  background:#3498db; 
  color:#fff; 
  font-size: 1em;
  opacity: 0.4; 
  padding: 0.5em 1em;
}
.g-col-12-sub p{
  margin: unset;
  padding: 0.25em 1em;
}

.g-col-6-body{

  padding: 0.25em 1em;
}
.g-col-12-sub + .g-col-6-body{

  padding: 0.25em 2em;
}